<%- include('partials/header') %>
<body class="welcome">


<div style="
  margin-top: 300px;
  margin-bottom: 300px;
  margin-right: 200px;
  margin-left: 200px;
">
<h1 style="text-align:center;">Hello! <%=name.name%></h1>
<br>
<h4  style="text-align:center;"> Authantication Sample Project</h4>
<br>
<p style="text-align:center;">This is a sample application that demonstrates an authantication
flow for a web app using Express</p>
<br>
<div class="text-center">
  <a  type="button"  style="text-align:center;" href="/Logout" class="btn btn-dark">Logout</a>


      </div>

</div>
</body>
 <%- include('partials/footer') %>
